<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yumefusaka.galgamesite.mapper.GalGameTwelveVotingMapper">

    <select id="galGameTwelveVotingResultList" resultType="yumefusaka.galgamesite.pojo.vo.GalGameTwelveVotingResultVO">
        select
            sum(v.votes_cast_count) as totalVotes,
            g.*
        FROM
            galgame_twelve_voting v
                LEFT JOIN
            galgame g ON v.galgame_subject_id = g.subject_id
        GROUP BY
            v.galgame_subject_id
        ORDER BY
            totalVotes DESC
    </select>

    <select id="galGameTwelveVotingHistoryList" resultType="yumefusaka.galgamesite.pojo.vo.GalGameTwelveVotingHistoryVO">
        select
            v.id,
            v.votes_cast_count,
            g.subject_id,
            g.img_url,
            g.translated_name
        FROM
            galgame_twelve_voting v
        LEFT JOIN
            galgame g ON v.galgame_subject_id = g.subject_id
        where
            user_uin = #{uin}
        GROUP BY
            v.galgame_subject_id
    </select>

    <select id="galGameTwelveVotingVotesCastCountTotal" resultType="java.lang.Long">
        select
            sum(v.votes_cast_count) as votesCastCount
        FROM
            galgame_twelve_voting v
        where
            user_uin = #{uin}
    </select>

    <select id="galGameTwelveVotingGameInfoByMyself" resultType="yumefusaka.galgamesite.pojo.vo.GalGameTwelveVotingGameInfoByMyselfVO">
        select
            v.id,
            v.votes_cast_count,
            g.subject_id,
            g.img_url,
            g.translated_name,
            g.original_name,
            g.rank,
            g.number_of_ratings,
            g.info,
            g.score,
            t.total_votes
        from
            galgame_twelve_voting v
                left join galgame g on v.galgame_subject_id = g.subject_id
                left join (
                select
                    galgame_subject_id,
                    sum(votes_cast_count) as total_votes
                from
                    galgame_twelve_voting
                group by galgame_subject_id
            ) t on v.galgame_subject_id = t.galgame_subject_id
        where
            v.user_uin = #{uin}
          and v.galgame_subject_id = #{subjectId}
    </select>

    <select id="galGameTwelveVotingResultTotalRank" resultType="java.lang.Long">
        SELECT total_rank FROM (
             SELECT
                 galgame_subject_id,
                 ROW_NUMBER() OVER (ORDER BY sum(votes_cast_count) DESC) AS total_rank
             FROM
                 galgame_twelve_voting
             GROUP BY
                 galgame_subject_id
         ) AS rank_table
        WHERE galgame_subject_id = #{subjectId}
    </select>

    <select id="galGameTwelveVotingResultTotalVotes" resultType="java.lang.Long">
        select
            sum(v.votes_cast_count) as totalVotes
        FROM
            galgame_twelve_voting v
                LEFT JOIN
            galgame g ON v.galgame_subject_id = g.subject_id
        WHERE
            v.galgame_subject_id = #{subjectId}
        GROUP BY
            v.galgame_subject_id
    </select>
</mapper>
