<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yumefusaka.galgamesite.mapper.GalGameMapper">

    <select id="getGalGameTwelveVotingGameInfoList" resultType="yumefusaka.galgamesite.pojo.vo.GalGameTwelveVotingGameInfoVO">
        SELECT
            g.translated_name,
            g.subject_id,
            g.img_url,
            IFNULL(SUM(v.votes_cast_count), 0) AS totalVotes
        FROM
            galgame g
        LEFT JOIN
            galgame_twelve_voting v ON g.subject_id = v.galgame_subject_id
        WHERE
            g.translated_name LIKE CONCAT('%', #{translatedName}, '%')
        GROUP BY
            g.id
    </select>

</mapper>
